# === BUILD DIRECTORIES ===
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# === MAVEN ===
!.mvn/wrapper/maven-wrapper.jar

# === DATABASE ===
photovoltaic-data.db

# === INTELLIJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === ECLIPSE ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === NETBEANS ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS CODE ===
.vscode/

# === MAC OS ===
.DS_Store